@charset "UTF-8";
.foot_wrapper { width: 100%; background: #fff; }
.foot_wrapper .foot { padding-bottom: 20px; margin: auto; }
.foot_wrapper .foot .service_info { background: #ebebeb; border-top: #9a9a9a 3px solid; margin: 0 0 15px 0; height: 160px; padding-top: 20px; }
.foot_wrapper .foot .service_info .service_bar { margin: auto; width: 1200px; }
.foot_wrapper .foot .service_info .service_bar .cs { height: 125px; margin: 10px 100px 0 0; width: 183px; float: left; }
.foot_wrapper .foot .service_info .service_bar .cs a { display: inline-block; }
.foot_wrapper .foot .service_info .service_bar table { float: left; }
.foot_wrapper .foot .service_info .service_bar table th { font-size: 14px; text-align: left; padding-bottom: 10px; }
.foot_wrapper .foot .service_info .service_bar table tr td { line-height: 20px; cursor: pointer; }
.foot_wrapper .foot .service_info .service_bar table tr td:hover { color: orange; }
.foot_wrapper .foot .service_info .service_bar .customer { background: url("../images/footer_sprite.gif") no-repeat left -86px; width: 183px; height: 35px; }
.foot_wrapper .foot .service_info .service_bar .phone { background: url(../images/footer_sprite.gif) no-repeat left -122px; width: 183px; height: 45px; }
.foot_wrapper .foot .service_info .service_bar .email { background: url(../images/footer_sprite.gif) no-repeat left -167px; display: inline-block; width: 183px; height: 35px; }
.foot_wrapper .foot .service_info .service_bar .wchat { float: right; width: 95px; padding-right: 0; }
.foot_wrapper .foot .service_info .service_bar .wchat p { width: 100%; font-size: 14px; margin-bottom: 10px; font-weight: bold; }
.foot_wrapper .foot .service_info .service_bar .wchat .qcode { background: url(../images/footer_sprite.gif) no-repeat -189px -87px; width: 85px; height: 85px; margin-left: 2px; }
.foot_wrapper .foot .foot_link .link_cont { line-height: 32px; clear: both; min-width: 1000px; }
.foot_wrapper .foot .foot_link .link_cont ul { text-align: center; }
.foot_wrapper .foot .foot_link .link_cont ul li { display: inline; text-align: center; color: #ccc; }
.foot_wrapper .foot .foot_link .link_cont ul li a { margin: 0 8px 0 6px; color: #000; }
.foot_wrapper .foot .foot_link .link_cont ul li a:hover { color: orange; }
.foot_wrapper .foot .foot_btn { width: 630px; height: 50px; padding: 10px 0px; margin: 0 auto; }
.foot_wrapper .foot .foot_btn a { background: url(../images/foot_icons.jpg) no-repeat; width: 145px; height: 44px; margin-left: 47px; display: inline-block; float: left; }
.foot_wrapper .foot .foot_btn .zp { background-position: -192px 0; }
.foot_wrapper .foot .foot_btn .sh { background-position: -385px 0; }
.foot_wrapper .foot .copyright { height: 20px; line-height: 20px; text-align: center; color: #999999; font-family: Tahoma, Geneva, sans-serif, 宋体; clear: both; min-width: 1000px; }
.foot_wrapper .foot .copyright a { margin: 0 3px; color: #999; font-weight: bold; }
.foot_wrapper .foot .des { height: 100%; overflow: hidden; padding: 10px 0; width: 1000px; margin: 0 auto; text-align: center; }
.foot_wrapper .foot .des img { margin-left: 12px; display: inline-block; vertical-align: middle; }

/*# sourceMappingURL=foot.css.map */
