.shopping_head{
  width: 950px;
  margin: 0 auto;
  background: #fff;
  height: 64px;
  padding-top: 12px;
  z-index: 99;
  border-bottom: 1px solid #000;
  position: relative;
  .logo{
    height: 59px;
    width: 194px;
    margin-left: 13px;
    a{
      height: 59px;
      width: 194px;
      overflow: hidden;
      display: block;
      position: relative;
      b{
        background: url(../images/s_05.png) no-repeat;
        width: 194px;
        height: 59px;
        left: 0;
        top: 0;
        display: block;
        position: absolute;
        font-weight: bold;
      }
    }
  }
  .column{
    right: 10px;
    top: 15px;
    width: 600px;
    text-align: right;
    color: #151515;
    position: absolute;
    b{
      font-size: 16px;
      color: #F26521;
      line-height: 18px;
    }
    .online_service{
      margin-bottom: 20px;
      .online{
        padding: 2px 10px 0;
        float: right;
      }
    }
  }
}
.my_shopping{
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  .shopping_list{
    height: 40px;
    padding-top: 15px;
    ul{
      width: 950px;
      height: 33px;
      margin: 0 auto;
      li{
        float: left;
        width: 316px;
        background: #e2e2e2;
        height: 24px;
        text-align: center;
        line-height: 24px;
        font-size: 14px;
        font-weight: bold;
        .cur_on{
          background: url(../images/s_shop1.gif) 0 0 no-repeat;
          width: 27px;
          height: 32px;
          float: right;
          overflow: hidden;
          position: relative;
          margin-top: -4px;
        }
        .line_bg{
          background-position: -27px 0;
        }
      }
      .status{
        background: #82bf38;
        color: #fff;
      }
    }
  }
}
.element_list{
  width: 950px;
  clear: both;
  overflow: hidden;
  margin-top: 12px;
}
.goods_wrap{
  width: 950px;
  margin: 0 auto;
  .goods_list{
    table{
      width: 100%;
      border: 1px solid #d6d3d3;
      border-collapse: collapse;
      font: 12px/1.5 tahoma, arial, 宋体, sans-serif;
      tr{
        th{
          height: 32px;
          text-align: center;
          color: #000;
          background-color: #E3E3E3;
          font-weight: normal;
          width: 130px;
          input{
            vertical-align: middle;
          }
        }
        .select_all{
          width: 80px;
          div{
            padding-left: 10px;
          }
        }
        .money{
          width: 120px;
        }
      }
    }
  }
  .goods_item{
    background: #fff4e8;
    td{
      text-align: center;
      line-height: 25px;
      padding: 10px;
    }
    .check_box{
      text-align: left;
      padding-left: 15px;
    }
    .goods_img{
      img{
        border: #DFDFDF solid 1px;
      }
    }
    .goods_name{
      text-align: left;
    }
    .goods_price{
      .xiu_price{
        margin-top: -10px;
        a{
          text-decoration: line-through;
          color: #9a9a9a;
        }
      }
      .discount{
        width: 60px;
        position: relative;
        margin: 0 auto;
        a{
          height: 20px;
          line-height: 20px;
          display: block;
          width: 48px;
          text-align: left;
          padding: 0 0 0 12px;
          border: 1px solid #e95140;
          background: url(../images/car_arrow.png) 40px 0 no-repeat #e95140;
          color: #fff;
          position: absolute;
          left: 0;
          top: 0;
          z-index: 10;
        }
      }
    }
    .total{
      font-weight: bolder;
      color: orangered;
    }
    .at{
      border: 1px solid #666;
      height: 10px;
      width: 10px;
      overflow: hidden;
      display: inline-block;
      line-height: 8px;
      margin-bottom: -3px;
    }
    .num{
      width: 30px;
      line-height: 15px;
      border: 1px solid #dfdfdf;
      margin: 0 10px;
      text-align: center;
      vertical-align: middle;
    }
  }
  .no_goods{
    margin-top: 20px;
    height: 90px;
    background: #F6F6F6;
    border: 1px solid #d6d3d3;
    img{
      width: 52px;
      float: left;
      margin: 17px 50px 7px 200px;
    }
    h2{
      float: left;
      margin-top: 25px;
      font-size: 14px;
      padding: 10px;
      color: #000;
      a{
        color: #FF6633;
        text-decoration: underline;
      }
    }
  }
}
.interest{
  .set_bar{
    padding-top: 20px;
    padding-bottom: 10px;
    h2{
      float: left;
      font-size: 12px;
      height: 27px;
      a{
        width: 171px;
        height: 27px;
        overflow: hidden;
        position: relative;
        b{
          width: 171px;
          height: 27px;
          position: absolute;
          top: 0;
          left: 0;
          background: url("../images/s_shop1.gif") no-repeat 0 -259px;;
        }
      }
    }
    .interest_login{
      padding-top: 8px;
      margin-left: 80px;
      a{color: orange}
    }
  }
}
.foot_shopping{
  color: #7D7D7D;
  line-height: 22px;
  margin: 15px auto 20px;
  overflow: hidden;
  text-align: center;
  width: 950px;
  border-top: 1px solid #999;
  padding-top: 10px;
}