.main{
  width: 1000px;
  margin: auto;
  .crumb{
    margin: 10px 0 16px 0;
    padding: 0 0 5px 12px;
    line-height: 25px;
    color: #646464;
    border-bottom: 1px solid #e5e5e5;
    background: url(../images/detail/goods_info.gif) no-repeat 0 7px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 988px;
    a{
      color: #005ba1;
    }
  }
  .pro_con{
    margin-top: 15px;
    display: table;
    width: 1000px;
    .con_main{
      width: 100%;
      overflow: hidden;
      clear: both;
      margin-bottom: 30px;
      .p_map{
        width: 412px;
        float: left;
        .b_map{
          border: 1px solid #ccc;
          position: relative;
          height: 536px;
          width: 402px;
          z-index: 1;
          .magic_cup{
            cursor: move;
            z-index: 101;
            position: absolute;
            overflow: hidden;
            width: 200px;
            height: 200px;
            opacity: 0.5;
            display: none;
            background: #ffffff;
            border: 1px solid #aaa;
          }
          .big_pic{
            overflow: hidden;
            z-index: 100;
            top: 0;
            position: absolute;
            width: 402px;
            height: 536px;
            opacity: 1;
            left: 415px;
            display: none;
            border: 1px solid #333333;
          }
        }
        .s_map{
          margin-top: 8px;
          width: 405px;
          height: 100%;
          overflow: hidden;
          .dc{
            background: url(../images/detail/goods_info.gif) no-repeat left -187px;
            height: 98px;
            width: 72px;
            margin: 2px 4px 0 4px;
            display: inline;
            overflow: hidden;
          }
          li{
            float: left;
            margin: 5px 4px 0 4px;
            display: inline;
            width: 73px;
            height: 98px;
            background: url(../images/detail/goods_info.gif) no-repeat -200px -333px;
            overflow: hidden;
            position: relative;
            a{
              display: block;
              width: 66px;
              height: 88px;
              margin: 6px 0 0 4px;
              img{
                padding: 0;
                margin: 0;
                width: 66px;
                height: 88px;
                vertical-align: middle;
              }
            }
          }
        }
      }
      .info_wrapper{
        width: 570px;
        float: right;
        position: relative;
        z-index: 0;
        .info{
          width: 570px;
          float: right;
          position: relative;
          z-index: 0;
          .title{
            font-size: 14px;
            font-weight: bold;
            color: #000;
            line-height: 25px;
            border-bottom: 1px solid #e5e5e5;
            padding: 0 0 5px 0;
            float: left;
            width: 560px;
            span{
              width: 100%;
              float: left;
              margin-bottom: 8px;
              i{
                color: #eb7616;
                font-size: 14px;
                font-style: normal;
              }
            }
            .cp{
              clear: both;
              font-size: 12px;
              font-weight: normal;
              margin-bottom: 0;
              color: #646464;
              height: auto;
              overflow: auto;
              p{
                float: left;
                font-size: 12px;
                color: #646464;
              }
              a{
                float: left;
                color: #646464;
                display: inline-block;
              }
              .comment{
                color: #005BA1;
                margin-left: 10px;
              }
              i{
                font-style: normal;
                float: right;
                font-size: 12px;
                color: #646464;
              }
            }
          }
          .price{
            padding: 20px 0 20px 0;
            position: relative;
            z-index: 2;
            float: left;
            .xiu_price{
              color: #666;
              float: left;
              width: 570px;
              font-family: Tahoma, Geneva, sans-serif;
              line-height: 30px;
              b{
                color: #ea7514;
                font-size: 15px;
                float: left;
              }
              a{
                color: #005ba1;
                cursor: default;
                z-index: 9;
                float: left;
                text-decoration: underline;
                padding-left: 10px;
              }
              .e_time{
                margin-left: 30px;
                font-size: 13px;
              }
              .num{
                color: #cf1700;
                height: 30px;
                font-size: 26px;
                font-family: Tahoma, Geneva, sans-serif;
                padding-left: 15px;
                background: url(../images/detail/goods_info.gif) no-repeat 0 -95px;
                position: relative;
                float: left;
              }
              .xiu{
                width: 63px;
                line-height: 30px;
                text-align: left;
                display: inline-block;
                float: left;
              }
              .intro{
                padding-left: 10px;
                position: relative;
                display: inline-block;
                color: #005ba1;
                text-decoration: underline;
                float: none;
              }
            }
          }
          .pro_attr{
            display: table;
            float: left;
            border-top: 1px solid #e5e5e5;
            .pro_box{
              padding: 10px 0;
              width: 546px;
              color: #646464;
              .select_attr{
                margin: 7px 0 8px 0;
                float: left;
                width: 100%;
                .attr{
                  width: 60px;
                  float: left;
                  line-height: 25px;
                  text-align: left;
                }
                .ul_select{
                  float: left;
                  width: 440px;
                  line-height: 23px;
                  li{
                    display: inline;
                    text-align: center;
                    a{
                      margin: 0 10px 5px 0;
                      float: left;
                      display: block;
                      overflow: hidden;
                      text-align: center;
                      color: #646464;
                      border: 2px solid #ff6701;
                      font-size: 12px;
                      height: 20px;
                      padding: 1px 7px;
                      line-height: 20px;
                      width: auto;
                      background: #fff url(../images/detail/goods_info.gif) no-repeat right -52px;
                    }
                  }
                  .down{
                    width: 15px;
                    height: 19px;
                    background: url(../images/detail/goods_info.gif) no-repeat;
                    display: inline;
                    float: left;
                  }
                  .dis{
                    cursor: default;
                    background-position: -224px -160px;
                  }
                  input{
                    height: 20px;
                    border: 1px solid #ccc;
                    width: 50px;
                    text-align: center;
                    float: left;
                    margin: 0 6px;
                    font-size: 12px;
                    outline: none;
                  }
                  .up{
                    width: 15px;
                    height: 19px;
                    background: url(../images/detail/goods_info.gif) no-repeat -207px -179px;
                    display: inline;
                    float: left;
                    cursor: pointer;
                    margin-right: 3px;
                  }
                }
                .fqfh{
                  padding: 0 10px 0 20px;
                  float: left;
                  height: 20px;
                  line-height: 20px;
                  position: relative;
                  display: inline-block;
                }
                .wlb{
                  float: left;
                  color: #000;
                  padding: 0 10px 0 20px;
                  line-height: 20px;
                  a{
                    max-width: 260px;
                    color: #000;
                    display: block;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                  }
                }
                .fwb{
                  float: left;
                  padding: 0 0 0 22px;
                  line-height: 20px;
                }
              }
              .buy_it{
                height: 38px;
                clear: both;
                position: relative;
                z-index: 1;
                padding: 20px 0 15px;
                a{
                  background: url(../images/detail/goods_info.gif) no-repeat;
                  height: 36px;
                  width: 153px;
                  display: block;
                  float: left;
                  position: relative;
                  margin-right: 15px;
                }
                .user0{
                  background-position: 0 -844px;
                }
                .user1{
                  background-position: 0 -916px;
                }
                .user2{
                  background-position: -211px -1435px;
                  width: 61px;
                  height: 36px;
                  display: inline-block;
                }
              }
              .call_buy{
                color: #ea7414;
                font-size: 14px;
                strong{
                  font-size: 18px;
                }
                span{
                  color: #7e7e7e;
                  font-size: 12px;
                }
              }
            }
          }
          .share_box{
            margin-top: 30px;
            border-top: 1px solid #e5e5e5;
            padding-top: 20px;
            overflow: hidden;
            width: 590px;
            .q_code{
              float: left;
              width: 220px;
              border-right: 1px solid #e5e5e5;
              img{
                float: left;
                padding-right: 15px;
              }
              .code_word{
                line-height: 18px;
                color: #707070;
                float: left;
              }
            }
          }
          .share{
            float: left;
            padding-left: 50px;
            width: 295px;
            .share_to{
              width: 300px;
              height: 24px;
              line-height: normal;
              padding: 7px 0;
              margin-top: 30px;
              clear: both;
              background: url(../images/detail/invite_goods_info.gif) no-repeat 35px -24px;
              span{
                display: inline;
                float: left;
                height: 16px;
                line-height: 16px;
                color: #707070;
              }
              a{
                width: 24px;
                margin-right: 7px;
                display: inline-block;
                float: left;
                height: 16px;
                line-height: 16px;
                color: #707070;
              }
            }
          }
        }
      }
    }
    .nav{
      float: left;
      width: 1000px;
      background: #efefef;
      z-index: 9999;
      .goods_nav{
        background: url(../images/detail/goods_info.gif) repeat-x left -1686px;
        height: 38px;
        line-height: 38px;
        position: relative;
        ul{
          margin: 0;
          position: absolute;
          left: 0;
          top: 0;
          li{
            float: left;
            width: 140px;
            height: 36px;
            line-height: 36px;
            text-align: center;
            margin-left: 0;
            background: #efefef;
            border-right: 1px solid #fff;
            cursor: pointer;
            font-family: Tahoma, Geneva, sans-serif;
            a{
              text-align: center;
              font-size: 14px;
              color: #000;
              display: block;
              width: 140px;
              height: 35px;
              line-height: 35px;
            }
          }
          .on{
            a{
              background: #ea7514;
              height: 36px;
              color: #ffffff;
              font-weight: 900;
            }
          }
        }
      }
      .shopping_bags{
        position: absolute;
        right: 0;
        bottom: 2px;
        width: 260px;
        text-align: right;
        padding-right: 17px;
        height: 35px;
        font-size: 18px;
        color: #cc1700;
        font-family: Tahoma, Geneva, sans-serif;
        span{
          display: inline-block;
          background: url(../images/detail/goods_info.gif) no-repeat -264px -1088px;
          padding-left: 10px;
        }
        a{
          display: inline-block;
          vertical-align: top;
          width: 98px;
          height: 26px;
          background: url(../images/detail/goods_info.gif) no-repeat left -1440px;
          margin: 5px 0 0 5px;
        }
      }
    }
    .main_content{
      width: 1000px;
      .con_left{
        width: 775px;
        float: left;
        .contents{
          padding: 5px 0 15px 0;
          width: 774px;
          line-height: 22px;
          overflow: hidden;
          color: #646464;
          h5{
            height: 25px;
            line-height: 25px;
            padding: 0 0 0 16px;
            font-size: 14px;
            font-weight: bold;
            background: #f3f3f3;
            color: #333;
            margin: 20px 0;
            float: left;
            width: 757px;
          }
          table{
            width: 100%;
            border-collapse: collapse;
            td{
              height: 30px;
              line-height: 20px;
              padding-left: 10px;
              border: 1px solid #ebebeb;
              b{
                display: inline-block;
              }
            }
          }
          .size_pic{
            overflow: hidden;
            clear: both;
            img{
              text-align: left;
            }
          }
          .desc_pic{
            padding-top: 10px;
          }
          .desc_pic img:last-of-type{
            padding-top: 15px;
          }
          .present{
            width: 760px;
            margin: auto;
            padding-top: 20px;
            .content_tips{
              color: red;
              font-weight: bold;
              width: 5.5em;
              height: 2em;
              float: left;
            }
          }
        }
      }
      .con_right{
        width: 210px;
        float: right;
        margin-top: 26px;
      }
    }
  }
}