.foot_wrapper{
  width: 100%;
  background: #fff;
  .foot{
    padding-bottom: 20px;
    margin: auto;
    .search_info{
      background: #ebebeb;
      border-top: #9a9a9a 3px solid;
      margin: 0 0 15px 0;
      height: 160px;
      padding-top: 20px;
      .service_bar{
        height: 125px;
        margin: 10px 100px 0 0;
        display: inline;
        width: 183px;
        .customer{
          background: url("../images/footer_sprite.gif") no-repeat left -86px;
          width: 183px;
          height: 35px;
        }
        .phone{
          background: url(../images/footer_sprite.gif) no-repeat left -122px;
          width: 183px;
          height: 45px;
        }
        .email{
          background: url(../images/footer_sprite.gif) no-repeat left -167px;
          display: inline-block;
          width: 183px;
          height: 35px;
        }
      }
    }
  }
}