.head_wrapper{
  width: 100%;
  background: #333333;
  .head{
    width: 1200px;
    height: 83px;
    margin: 0 auto;
    padding: 10px 0 0;
    .top_wrapper{
      position: relative;
      .shorcut{
        float: left;
        width: 400px;
        margin: -8px 0 0;
        a{
          padding: 0 5px;
          display: inline-block;
          color: #d7d7d7;
        }
        .top_link{
          height: 34px;
          line-height: 34px;
          z-index: 5;
          position: relative;
          float: left;
          zoom: 1;
          li{
            display: inline-block;
            background: url(../images/line.gif) no-repeat right center;
            padding: 0;
          }
          .my_bag{
            padding: 0 6px 0 4px;
            color: #d7d7d7;
            a{
              position: relative;
              top: 0;
              padding: 0 4px 0 26px;
              border: 1px solid #333;
              border-bottom: none;
              background: url(../images/spriter2016.png) no-repeat -215px -40px;
              z-index: 999;
            }
            .redx{
              font-style: normal;
              padding: 0 2px;
              color: #f78407;
            }
          }
          .myxiu{
            height: 34px;
            padding: 0 6px 0 0;
            a{
              padding: 0 15px 0 10px;
              border: 1px solid #333;
              border-bottom: none;
              background: url(../images/spriter2016.png) no-repeat right -108px;
              z-index: 999;
            }
          }
        }
      }
      .logo_m{
        width: 212px;
        position: absolute;
        left: 50%;
        top: 0;
        margin: 0 0 0 -106px;
        a{
          display: block;
          width: 212px;
          height: 32px;
          background: url(../images/spriter2016.png) no-repeat 0 0;
        }
      }
      .search_wrapper{
        float: right;
        .search_box{
          float: left;
          width: 263px;
          position: relative;
          input{
            display: inline-block;
            float: left;
            height: 26px;
            line-height: 26px;
            margin: 0;
            padding: 0 34px 0 8px;
            color: #787878;
            border: 1px solid #787878;
            background: #333;
            font-size: 12px;
            width: 219px;
            outline: none;
          }
          label{
            position: absolute;
            top: 6px;
            left: 10px;
            z-index: 2;
            color: #787878;
            font-family: Tahoma, Geneva, sans-serif;
            display: block;
          }
          .search_btn{
            display: inline-block;
            position: absolute;
            right: 2px;
            top: 0;
            width: 28px;
            height: 26px;
            cursor: pointer;
            border: 0;
            background: url(../images/spriter2016.png) no-repeat 0 -42px;
          }
        }
      }
    }
  }
}
.nav_wrapper{
  margin: 10px auto 0;
  width: 1200px;
  z-index: 2;
  clear: both;
  height: 44px;
  .nav_list{
    background: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    .hot{
      color:#fc0000;
    }
    li{
      display: inline-block;
      position: relative;
      font-family: 微软雅黑, "microsoft yahei", 宋体;
      .curr{
        color: #bfbfbf!important;
        border-bottom: 2px solid #727071
      }
      a{
        display: inline-block;
        padding: 12px 15px 10px;
        margin: 0 6px;
        height: 20px;
        line-height: 20px;
        font-size: 15px;
        color: #eee;
        border-bottom: 2px solid #333;
        z-index: 2;
      }
    }
  }
}

.header2{
  width: 100%;
  .nav_box{
    height: 42px;
    background: #f7f7f7;
    border-bottom: 1px solid #fff;
    .nav{
      width: 1200px;
      margin: auto;
      position: relative;
      text-align: center;
      li{
        margin: 0 auto;
        display: inline-block;
        height: 42px;
        position: relative;
        a{
          display: inline-block;
          height: 42px;
          line-height: 42px;
          margin-right: 5px;
          span{
            display: inline-block;
            height: 41px;
            overflow: hidden;
            line-height: 42px;
            font-size: 14px;
            color: #000;
            cursor: pointer;
            width: 60px;
            text-align: center;
            border-left: #f7f7f7 1px solid;
            border-right: #f7f7f7 1px solid;
            border-top: #f7f7f7 1px solid;
            position: relative;
          }
        }
      }
    }
  }
}